@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.placeholder_name:empty:before {
  content: "Your name here...";
  color: #bbb;
}

.delay-200ms {
  --fade-in-delay: 0.2s;
}

.delay-500ms {
  --fade-in-delay: 0.5s;
}

.delay-1000ms {
  --fade-in-delay: 1s;
}

.delay-1500ms {
  --fade-in-delay: 1.5s;
}

.delay-2000ms {
  --fade-in-delay: 2s;
}

.fade-in {
  opacity: 0;
  transform: translateY(50px);
  animation: fadeIn 0.2s forwards ease-in-out;
  animation-delay: var(--fade-in-delay, 0s);
}

.fade-out {
  opacity: 1;
  transform: translateY(0);
  animation: fadeOut 0.2s forwards ease-in-out;
  animation-delay: var(--fade-in-delay, 0s);
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: translateY(50px);
  }
}
